<h1>Enter a New Album</h1>

<form action="/albums" method="POST">
  <div class="form-group">
    <label for="name">Album Name</label>
    <input type="text" class="form-control" id="name" name="name" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>